.content {
    display: flex;
}

.img_product {
    margin-right: 10px;
    display: block;
    width: 120px;
    padding-bottom: 80px;
    padding-left: 95px;
}

.title {
    padding: 30px;
}

.productBtn {
    height: 60px;
    width: 60px;
    margin: 0;
    margin-top: 30px;
    background-color: rgb(202, 196, 196);
    border: 1px solid rgb(10, 177, 163);
    color: rgb(10, 177, 163);
    border-radius: 50%;
    cursor: pointer;
}

.productBtn2 {
    height: 60px;
    width: 60px;
    margin: 0;
    margin-top: 30px;
    background-color: rgb(10, 177, 163);
    border: 1px solid rgb(10, 177, 163);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

span {
    font-size: xx-large;
}


// Smartphone dimension for both apple and android devices
@media only screen and (max-width: 480px), only screen and (max-device-width: 600px) {
    .content {
        display: flex;
    }
    
    .img_product {
        margin-left: -60px;
        display: block;
        width: 120px;
        padding-bottom: 80px;
        padding-left: 95px;
    }
    
    .title {
        padding: 10px;
    }
    
    .productBtn {
        margin-top: 15px;
        left: 100%;
        height: 60px;
        width: 60px;
        background-color: rgb(202, 196, 196);
        border: 1px solid rgb(10, 177, 163);
        color: rgb(10, 177, 163);
        border-radius: 50%;
        cursor: pointer;
    }
    
    .productBtn2 {
        height: 60px;
        left: 100%;
        width: 60px;
        margin-top: 15px;
        background-color: rgb(10, 177, 163);
        border: 1px solid rgb(10, 177, 163);
        color: white;
        border-radius: 50%;
        cursor: pointer;
    }
    
    span {
        font-size: xx-large;
    }
    
}